<?php
return [
    'router' => [
        'routes' => [
            'zf-beanstalkd' => [
                'options' => [
                    'route' => '/zf-beanstalkd',
                ],
                'defaults' => [
                    'controller'    => 'ZfBeanstalkdUI\Controller\Dashboard',
                    'action'        => 'index',
                ],
            ]
        ]
    ]    
];